<a href="https://colab.research.google.com/github/parthnagar1011/Data-Science-for-Python/blob/main/Unit_1_(Basics)_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

In Python, functions are blocks of code designed to perform a specific task. They can take parameters as input and return a value or perform actions.

In [ ]:
# Let's take an example of add 2 numbers

def add_numbers(a,b) :
  return a+b

result = add_numbers(5,3)
print(result)

8

Key points:

1. **def** keyword signifies the start of a function definition.
2. **function_name** is the name of the function.
3. **parameters** are the inputs to the function, enclosed in parentheses.
4.**Docstring** is a string enclosed in triple quotes that documents the function's purpose.
5. **return** statement outputs a value or None if nothing is returned.

# **Strings**
Strings in Python are sequences of characters enclosed within single (') or double (") quotes. They represent text data and can be manipulated using various string methods and functions.

In [ ]:
my_str1 = 'Hello Python'
my_str2 = "This is Colab"

print(my_str1)

Hello Python

In [ ]:
print(my_str2)

# Both are strings

This is Colab

In [ ]:
# we can access string using indexing

my_str1[2]

'l'

In [ ]:
# String slicing

print(my_str1[1:5])

ello

**String methods:**

1. **upper()**: Converts the string to uppercase.
2. l**ower()**: Converts the string to lowercase.
3. **capitalize()**: Capitalizes the first character.
4. **strip()**: Removes leading and trailing whitespaces.
5. **split()**: Splits the string based on a delimiter.
6. **join()**: Joins a list of strings into a single string.

In [ ]:
# f-string

name = "Jack"
age = 30

print(f"My name is {name} and age is {age}.")

My name is Jack and age is 30.

# **Lists**

Lists in Python are ordered collections of items enclosed in square brackets []. They can contain elements of different data types.

In [ ]:
my_list = [ 1 , 2 , 3]
my_list2 = ['a', 'b', 'c']

print(my_list)

[1, 2, 3]

In [ ]:
# Accessing elements
print(my_list2[0])

# We can also perform list slicing in a similar manner as we do with strings.

a

**List Methods:**


* **append**(): Adds an element to the end of the list.
* **insert**(): Inserts an element at a specific index.
* **remove**(): Removes the first occurrence of a specified element.
* **pop**(): Removes and returns the element at a specific index or the last element if no index is provided.
* **sort**(): Sorts the list in ascending order.
* **reverse**(): Reverses the order of elements in the list.

List comprehensions:

List comprehensions provide a concise way to create lists based on existing iterables.

In [ ]:
squares = [x**2 for x in range(10)]

# **Tuples**

Tuples in Python are ordered, immutable sequences of elements. They are defined using parentheses (), and the elements are separated by commas.

* **Ordered**: Elements in a tuple have a defined order, and the order cannot be changed.
* **Immutable**: Once a tuple is created, its elements cannot be added, removed, or modified.
* **Indexing and slicing**: Tuples support indexing and slicing, allowing you to access individual elements or sub-sequences.

In [1]:
# creating tuples

my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [2]:
# Accessing the first element
first_element = my_tuple[0]

# Accessing the last element
last_element = my_tuple[-1]

# Accessing a sub-sequence
sub_tuple = my_tuple[1:3]

# **Sets**

Sets in Python are unordered collections of unique elements. They are defined using curly braces {}, and the elements are separated by commas.

**Properties of sets:**

* **Unordered**: Elements in a set do not have a defined order.

In [3]:
# Creating a set
my_set = {1, 2, 3}
my_set

{1, 2, 3}

In [6]:
# Properties

set_1 = {5, 2, 6}
set_2 = {6, 4, 8}

# Finding the union of two sets
union_sets = set_1 | set_2
print(f"Union is: {union_sets}")

# Finding the intersection of two sets
intersection_sets = set_1 & set_2
print(f"Intersection is: {intersection_sets}")

Union is: {2, 4, 5, 6, 8}
Intersection is: {6}

#  **Dictionaries**

Dictionaries in Python are unordered collections of key-value pairs and where each key is associated with a value.

In [8]:
# Creating a dictionary
dictionary = {"name": "Rahul ", "age": 30, "Stream": "Computer Science"}
dictionary

{'name': 'Rahul ', 'age': 30, 'Stream': 'Computer Science'}

In [9]:
# Checking if a key exists
if "age" in dictionary:
    print(dictionary["age"])

30

In [13]:
# Creating a dictionary to store student information
student = {"name": "Rahul", "age": 30, "stream": "Computer Science"}

# Accessing individual fields
name = student["name"]
age = student["age"]
stream = student["stream"]

print(f"Name: {name}, age: {age}, stream: {stream}")

# Modifying a value
student["age"] = 21

# Adding a new key-value pair
student["email"] = "rahul1232@maill.com"

Name: Rahul, age: 30, stream: Computer Science